27.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ server1_ip_address }}    {{ server1_hostname }}
{{ server2_ip_address }}    {{ server2_hostname }}
